body{
  margin: 0;
  background-color: #A1E2EB;
}

h1{
  font-size: 120px;
  text-align: center;
  font-family: avenir;
  font-weight: lighter;
}

#hamburgermenu{
  padding-left: 10px;
}

#menu{
  display: block;
  position:fixed;
  width: 80vw;
  height: 100vh;
  font-size: 165px;
  padding: 5%;
  background-color: #5ca2ab;
  left:-100%;



}
a{
  text-decoration: none;
  color: white;
  font-family: avenir;
}
